/* Navbar */

nav
  margin-bottom: 0 !important
  background: #f2f2f2 !important
  border-color: #dfdfdf !important
  box-shadow: 0px 7px 12px 0px rgba(70,70,70,0.4)
    
  #preload-shining-logo
    display: none
    
  .navbar-brand
    height: 70px !important
    padding-top: 9px !important
    padding-bottom: 6px !important

  .navbar-toggle
    margin-top: 17px !important

  .navbar-nav
    margin-top: 9px !important

  a
    font-size: 149%
    color: #1a1a1a !important
    
  a:hover
    background: #e5e5e5 !important
    border-radius: 2px

  .fa-list-alt
    vertical-align: -5% !important

/* Main Content */

body 
  background: #e6e6e6 !important
  margin-top: 89px !important

section 
  background: #fff
  padding: 1em 2em 2em !important
  margin-bottom: 1.2em
  border-radius: 2px
  box-shadow: 0px 3px 6px 0px rgba(50,50,50,0.5)

  h1
    color: #3366cc !important
    font-size: 34px !important
    text-align: center
  
  hr
    border-color: #3366cc !important
    box-shadow: 0px 3px 6px 0px rgba(50,50,50,0.35)

  p 
    color: #1a1a1a

    
footer
  padding-top: 1.5em
  border-top: 1px solid #dfdfdf
  padding-bottom: 1em
  background: #f2f2f2
  box-shadow: 0px 3px 6px 0px rgba(50,50,50,0.5)

  p
    font-size: 90%
    
i.fa 
  vertical-align: 4%

 
.btn 
  box-shadow: 0px 1px 4px 0px rgba(50,50,50,0.5)


.row 
  margin-left: 0 !important
  margin-right: 0 !important