/* Navbar */
nav {
  margin-bottom: 0 !important;
  background: #f2f2f2 !important;
  border-color: #dfdfdf !important;
  box-shadow: 0px 7px 12px 0px rgba(70, 70, 70, 0.4); }
  nav #preload-shining-logo {
    display: none; }
  nav .navbar-brand {
    height: 70px !important;
    padding-top: 9px !important;
    padding-bottom: 6px !important; }
  nav .navbar-toggle {
    margin-top: 17px !important; }
  nav .navbar-nav {
    margin-top: 9px !important; }
  nav a {
    font-size: 149%;
    color: #1a1a1a !important; }
  nav a:hover {
    background: #e5e5e5 !important;
    border-radius: 2px; }
  nav .fa-list-alt {
    vertical-align: -5% !important; }

/* Main content */
body {
  background: #e6e6e6 !important;
  margin-top: 89px !important; }

#main-wrapper {
  padding-left: 0; }
  @media screen and (max-width: 992px) {
    #main-wrapper {
      padding-right: 0; } }

main {
  background: #fff;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.5); }
  main hr {
    border-color: #3366cc !important;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.35); }

main, aside {
  overflow: hidden;
  margin-bottom: 1.2em;
  border-radius: 2px; }
  main h1, aside h1 {
    color: #3366cc !important;
    font-size: 34px !important;
    text-align: center; }
  main p, aside p {
    color: #1a1a1a; }

#aside-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important; }

@media screen and (min-width: 992px) {
  aside {
    position: absolute; } }

/* Table of contents */
aside {
  background: #f2f2f2;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-left: 0;
  margin-right: 0 !important;
  box-shadow: 0px 3px 5px -2px rgba(50, 50, 50, 0.5); }
  aside h3 {
    color: #3366cc !important;
    text-align: center; }
  aside hr {
    border-color: #3366cc !important;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.35);
    margin: 0px 15px 25px !important; }
  aside ul {
    list-style: none !important;
    padding-left: 10px;
    padding-right: 10px; }
  aside ul > li.toctree-l1 {
    padding-bottom: 0.5em; }
  aside li.current > a {
    font-weight: bold; }
  aside .toctree-l1 {
    font-size: 17px;
    line-height: 24px; }
    aside .toctree-l1 a {
      color: #1a1a1a !important; }
  aside .toctree-l2 {
    display: none;
    font-size: 15px;
    line-height: 23px; }
  aside .toctree-l1.current .toctree-l2 {
    display: list-item; }
  aside .toctree-l3 {
    font-size: 13px;
    line-height: 22px; }
  aside a:hover {
    background: #e5e5e5 !important;
    border-radius: 2px;
    text-decoration: none !important; }
  aside a:focus {
    outline: none !important;
    text-decoration: none !important; }

/* Footer */
footer {
  padding-top: 1.5em;
  border-top: 1px solid #dfdfdf;
  padding-bottom: 1em;
  background: #f2f2f2;
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.5); }
  footer p {
    font-size: 90%; }

/* Misc */
i.fa {
  vertical-align: 4%; }

.btn {
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.5); }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/*# sourceMappingURL=style.css.map */
